<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8"> 

    <style>
    	canvas {
		    display: block;
		    margin: 0;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);

		    image-rendering: optimizeSpeed;
		    image-rendering: -moz-crisp-edges;
		    image-rendering: -webkit-optimize-contrast;
		    image-rendering: -o-crisp-edges;
		    image-rendering: pixelated;
		    -ms-interpolation-mode: nearest-neighbor;
			}

			#game-container {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position:absolute;
			}
		</style>
  </head>
  <body>
    <div id="game-container"></div>
  </body>
</html>